# Proyek Analisis Data: [Bike-Sharing-Dataset]
- **Nama:** [Alif Virdio Yudhistira Widyawan]
- **Email:** [m123b4ky0389@bangkit.academy]
- **ID Dicoding:** [superneev]

## Menentukan Pertanyaan Bisnis

- Pertanyaan 1 : Berapa total jumlah penyewaan sepeda pada musim gugur (Fall)?
- Pertanyaan 2 : Bulan apa yang mengalami penurunan terbesar dalam jumlah pengguna terdaftar, dan berapa selisihnya?
- Pertanyaan 3 : Pada bulan apa jumlah pengguna terdaftar mencapai puncaknya di tahun 2011, dan berapa jumlahnya?

## Import Semua Packages/Library yang Digunakan

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

:

## Data Wrangling

### Gathering Data

In [ ]:
day_dataframe = pd.read_csv('data\day.csv')
day_dataframe.head()

In [ ]:
hour_dataframe = pd.read_csv('data\hour.csv')
hour_dataframe.head()

**Insight:**
- xxx
- xxx

### Assessing Data

In [ ]:
day_dataframe.info()

In [ ]:
day_dataframe.isna().sum()

In [ ]:
day_dataframe.duplicated().sum()

In [ ]:
day_dataframe.describe()

In [ ]:
hour_dataframe.info()

In [ ]:
hour_dataframe.isna().sum()

In [ ]:
hour_dataframe.duplicated().sum()

In [ ]:
hour_dataframe.describe()

**Insight:**
- xxx
- xxx

### Cleaning Data

In [12]:
datatime_col = ["dteday"]

for column in datatime_col :
    day_dataframe[column] = pd.to_datetime(day_dataframe[column])

In [ ]:
day_dataframe.head()

In [14]:
datetime_col = ["dteday"]

for column in datetime_col :
    hour_dataframe[column] = pd.to_datetime(hour_dataframe[column])

In [ ]:
hour_dataframe.info()

In [16]:
day_dataframe.rename(columns={
    'instant' : 'record_id',
    'yr' : 'year',
    'dteday' : 'date-day',
    'mnth' : 'month',
    'hum' : 'humidity',
    'weathersit' : 'weather-condition',
    'cnt' : 'count_total'
},inplace=True)

In [ ]:
day_dataframe.tail()

In [18]:
hour_dataframe.rename(columns={
    'instant' : 'record_id',
    'yr' : 'year',
    'dteday' : 'date-day',
    'mnth' : 'month',
    'hum' : 'humidity',
    'weathersit' : 'weather-condition',
    'cnt' : 'count_total'
},inplace=True)

In [ ]:
hour_dataframe.tail()

**Insight:**
- xxx
- xxx

## Exploratory Data Analysis (EDA)

### Explore ...

In [ ]:
day_dataframe.groupby(by='season').record_id.nunique().sort_values(ascending=False)

In [ ]:
day_dataframe.groupby(by="weather-condition").record_id.nunique().sort_values(ascending=False)

In [ ]:
day_dataframe.groupby(by='weekday').record_id.nunique().sort_values(ascending=False)

In [ ]:
day_dataframe.groupby(by='season').record_id.nunique().sort_values(ascending=False)

**Insight:**
- xxx
- xxx

## Visualization & Explanatory Analysis

### Pertanyaan 1:

In [24]:
season_dataframe = day_dataframe.groupby("season").count_total.sum().sort_values(ascending=False).reset_index()

In [25]:
season_rename = {1: 'Spring', 2: 'Summer', 3: 'Fall', 4: 'Winter'}
season_dataframe['season'] = season_dataframe['season'].replace(season_rename)

In [ ]:
season_dataframe.head()

In [ ]:
fig, ax = plt.subplots(nrows=1, ncols=2, figsize=(12, 6))

colors = ["#ff4700", "#e5ff00", "#00ff59", "#00ffe3"]

sns.barplot(x="count_total", y="season", data=season_dataframe.head(), palette=colors, ax=ax[0])
ax[0].set_ylabel(None)
ax[0].set_xlabel(None)
ax[0].set_title("Best Season for Renting", loc="center", fontsize=13)
ax[0].tick_params(axis='y', labelsize=12)

sns.barplot(x="count_total", y="season", data=season_dataframe.sort_values(by="count_total", ascending=True).head(), palette=colors, ax=ax[1])
ax[1].set_ylabel(None)
ax[1].set_xlabel(None)
ax[1].invert_xaxis()
ax[1].yaxis.set_label_position("right")
ax[1].set_title("Worst Season for Renting", loc="center", fontsize=13)
ax[1].tick_params(axis='y', labelsize=12)

plt.suptitle("Best and Worst Season for Renting Bike", fontsize=15)
plt.show()

### Pertanyaan 2:

In [ ]:
user_month_df = day_dataframe.groupby("month").registered.sum().reset_index()
print(user_month_df)

In [29]:
month_rename = {1: 'January', 2: 'February', 3: 'March', 4: 'April', 5:'May', 6:'June', 7:'July', 8:'August', 9:'September', 10:'October', 11:'November', 12:'December'}
user_month_df['month'] = user_month_df['month'].replace(month_rename)

In [ ]:
plt.figure(figsize=(12, 6))
sns.set_theme(style="whitegrid")

# Create the line plot with Seaborn
sns.lineplot(
    data=user_month_df,
    x="month",
    y="registered",
    marker='o',
    linewidth=2.5,
    color="#0006ff"
)

# Enhancing the plot appearance
plt.title("Number of Registered Users per Month (2011-2012)", loc="center", fontsize=22, fontweight='bold')
plt.xlabel("Month", fontsize=14, fontweight='bold')
plt.ylabel("Number of Registered Users", fontsize=14, fontweight='bold')
plt.xticks(rotation=45, fontsize=12)
plt.yticks(fontsize=12)
plt.grid(visible=True, linestyle='--', alpha=0.7)
plt.tight_layout()

plt.show()

Pertanyaan 3:

In [31]:
registered_user_df = day_dataframe.loc[:, ['year', 'month', 'registered']]

In [ ]:
registered_user_df.head()

In [33]:
month_rename = {
    1: 'January', 2: 'February', 3: 'March', 4: 'April', 5: 'May', 6: 'June',
    7: 'July', 8: 'August', 9: 'September', 10: 'October', 11: 'November', 12: 'December'
}

registered_user_df['month'] = registered_user_df['month'].replace(month_rename)

In [34]:
registered_user_df = registered_user_df.groupby(['year', 'month'])['registered'].sum().reset_index()

In [35]:
month_order = [
    'January', 'February', 'March', 'April', 'May', 'June',
    'July', 'August', 'September', 'October', 'November', 'December'
]
registered_user_df['month'] = pd.Categorical(registered_user_df['month'], categories=month_order, ordered=True)

In [ ]:
registered_user_df.head()

In [ ]:
registered_user_df = registered_user_df.sort_values(by=['year', 'month']).reset_index(drop=True)

month_abbrev = {
    'January': 'Jan', 'February': 'Feb', 'March': 'Mar', 'April': 'Apr',
    'May': 'May', 'June': 'Jun', 'July': 'Jul', 'August': 'Aug',
    'September': 'Sep', 'October': 'Oct', 'November': 'Nov', 'December': 'Dec'
}

registered_user_df['month'] = registered_user_df['month'].replace(month_abbrev)

plt.figure(figsize=(12, 6))
sns.lineplot(data=registered_user_df, x='month', y='registered', hue='year', marker='o', palette='muted', linewidth=3.5)

plt.xlabel('Month')
plt.ylabel('Total Registered Users')
plt.title('Total Registered Users by Month (2011 vs. 2012)')
plt.legend(title='Year')
plt.xticks(rotation=45)
plt.grid(axis='y', linestyle='--')
plt.show()

**Insight:**
- xxx
- xxx

In [39]:
day_dataframe.to_csv("dashboard/new_day.csv", index=False)

## Analisis Lanjutan (Opsional)

## Conclusion

- Conclution pertanyaan 1 : Berdasarkan visualisasi data di atas, terlihat bahwa musim dengan tingkat penyewaan sepeda tertinggi adalah musim gugur (Fall), diikuti oleh musim panas (Summer), musim dingin (Winter), dan musim semi (Spring), dengan musim semi memiliki tingkat penyewaan yang lebih rendah dibandingkan ketiga musim lainnya.

- Conclution pertanyaan 2 : Dari grafik garis pada visualisasi, terlihat bahwa jumlah pengguna terdaftar (registered user) pada bulan Januari hingga April lebih rendah dibandingkan dengan bulan Mei hingga Oktober. Pada bulan April ke Mei, terdapat lonjakan signifikan pada jumlah pengguna terdaftar, yang berkaitan dengan data sebelumnya tentang musim dengan tingkat penyewaan sepeda yang tinggi, yaitu musim gugur, yang berlangsung dari Agustus hingga Oktober.

- Conclusion pertanyaan 3 : Jumlah pengguna terdaftar pada tahun 2012 (garis oranye) secara konsisten lebih tinggi dibandingkan tahun 2011 (garis biru) di semua bulan. Ini menunjukkan pertumbuhan yang signifikan dalam jumlah pengguna sepeda antara tahun 2011 dan 2012.